body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pdf-page {
  page-break-before: always;
  page-break-after: always;
  break-before: page;
  break-after: page;

  width: 100%;
  overflow: hidden;      /* penting agar layout tidak meluber */
}

@media print {
  .pdf-page {
    page-break-before: always !important;
    page-break-after: always !important;
  }
}
.no-break {
  page-break-inside: avoid;
  break-inside: avoid;
}

